# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# STM32 / build
**/Debug/
**/Release/
*.launch
*.ioc-perspective
*.mxproject
*.eww
*.ewp
*.uvprojx
*.uvoptx
**/Core/Inc/*.bak
**/Core/Src/*.bak

# CAD backups
*.dwg~
*.dxf~
*.bak

# Media exports
*.mp4
# Keep .mov tracked by default for the repo demo
#*.mov
